.beta-signifier-form-element-signifier {
  text-transform: uppercase;
  padding: 2px 4px;
  margin-left: 5px;
}

.beta-signifier-page-signifier {
  text-transform: uppercase;
  border: 1px solid green;
  padding: 10px 10px 5px 10px;
}
